@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.border-bottom {
    border-bottom: 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.montserrat {
    font-family: "Henny Penny", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(219, 13, 109);
    border-bottom: 2px solid green;
}

.babas-estatico {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

.destacado {
    color: rgb(4, 4, 102);
}

body{
    font-family: "Poppins", sans-serif;
}

.babas-estatico {
    background: linear-gradient(to right, rgb(240, 33, 33), rgb(154, 207, 7));
    color: transparent;
    background-clip: text;  
    border-bottom-left-radius: 20px;
    border-left-width: 10px;
    border-left-style: double;
    border-left-color: #ff0000; 
    border-top-right-radius: 20px;
    border-right-width: 10px;
    border-right-style: double;
    border-right-color: rgb(214, 10, 71);
}

.texto {
    color: #000a92d0;
    font-family: "Yeon Sung", serif;
    font-weight: 400;
    font-style: normal;
    border-top-right-radius: 20px;
    border-right-width: 10px;
    border-right-style: double;
    border-right-color: rgb(214, 10, 71);
}
.que_papel {
    font-family: "Montserrat Subrayada", serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    color: rgb(255, 72, 0);
}
.nav-conteiner{
    width: 100%;
    height: 4rem;
    display: flex;
    background-color: #4f0074;
    align-items: center;

    .title-link{
        color: #b7cfa5;
        text-decoration: none;
    }

    h3{
        padding-left: 3%;
        width: 50%;
    }

    .conteiner-button{
        padding-left: 5%;
        padding-right: 5%;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .button{
        background-color: #64bd00;
        padding: 2%;
        color: #fff;
        text-decoration: none;
        border: none;
        border-radius: 10px;
    }
}

.style-margin{
    margin: 1%;
    width: 230px; height: 230px; display: flex; justify-content: center; align-items: center;
}

.fondo{
    background-color: rgb(246, 220, 255);
}


.agrandar-div{
    background-color: aliceblue !important;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
    width: 200%; height: 100%; border: none; border-radius: 5%; box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.5);
    background-color: aliceblue; width: 400px; height: 240px; border: none;border-radius: 5%; box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.5); display: flex; justify-content: center; align-items: center;
}
.agrandar-div:hover{
    background-color: rgb(216, 238, 250) !important;
    transform: scale(1.1);
    width: 200%; height: 100%; border: none; border-radius: 5%; box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.5);
    background-color: aliceblue; width: 400px; height: 240px; border: none;border-radius: 5%; box-shadow: 5px 5px 10px rgba(5, 5, 5, 0.5); display: flex; justify-content: center; align-items: center;
}

.cloud {
    margin-top: 4%;
    width: 200px;
    height: 45px;
    background: rgb(134, 249, 232);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 5% 15% rgb(0, 0, 0 0.2);
}

.cloud::before,
.cloud::after{
    content: "";
    position: absolute;
    background: rgb(134, 249, 232);;
    border-radius: 50%;
    z-index: 1;
}

.cloud::before {
    width: 120px;
    height: 60px;
    top: -30px;
    right: -20px;
}

.cloud::after {
    width: 160px;
    height: 80px;
    top: -40px;
    left: -10;
}

.cloud-next {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: traslate(-50%, -50%);
    font-size: 20px;
    color: #555;
    font-weight: bold;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-home {
    background-image: url("../img/home/reflejos_coloridos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #f0f0f0;
}


.texto-degradado {
    font-size: 3rem;
    background: linear-gradient(to right, rgb(96, 181, 255) 25%, rgba(241, 84, 255, 0.952) 50%, rgba(255, 68, 149, 0.958) 75%);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: rgb(86, 86, 86) 2px;
    display: flex; justify-content: center; align-items: center;

}
